.hero {
  background-image: url("../../assets/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 160px;
  padding-bottom: 70px;
}

.heroContainer {
  display: flex;
  align-items: center;
}

.mainContent {
  margin-right: 81px;
}

.heroTitle {
  font-weight: 700;
  font-size: 58px;
  color: #f2e8cf;
  max-width: 568px;
  margin-bottom: 30px;
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  color: #f2e8cf;
  max-width: 379px;
  margin-bottom: 97px;
}

.heroButton {
  border-radius: 33px;
  background-color: #eb6424;
  font-weight: 600;
  font-size: 28px;
  color: #f2e8cf;
  border: none;
  padding: 31px 49px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heroButton:hover {
  background-color: #f2e8cf;
  color: #eb6424;
}

.heroImg {
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 530px;
}

.heroImg:hover {
  transform: rotate(360deg);
}
.infoStickerIcon {
  fill: #eb6424;
  stroke: #eb6424;
}
